Flask==3.0.0
Werkzeug==3.0.1

pandas==2.2.0
numpy==1.26.4
openpyxl==3.1.2
python-dotenv==1.0.1

requests==2.31.0
oauthlib==3.2.2

openai==0.28.1

google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.118.0
google-analytics-data==0.18.8

SQLAlchemy==2.0.27

langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.53
langchain-text-splitters==0.0.2
langsmith==0.1.147

packaging==23.2
scikit-learn
joblib


